body{
	font-family: arial;
	height: 100%;
	font-size: smaller;
}

#banner-area {
    text-align:center;
    padding:5px;
}
#banner-area h1, 
#banner-area h2 {
	display: inline;
}
#breadcrumps {
    text-align:left;
    color: grey;
    padding:5px;
}
#menu-area {
	background-color:grey;
    color:white;
    line-height:20px;
    height:400px;
    min-width:200px;
    float:left;
    padding: 5px;
    padding-right:10px;
    margin-right:10px;
}
#content-area {
    min-width:550px;
    min-height:400px;
    float:left;
}
#right-area {
    width:200px;
    float:right;
    padding:10px; 
    min-height:400px;
}
#user-area {
    padding:10px;   
    min-height:100px;
}
#news-area {
    padding:10px; 
    min-height:200px;
}
#footer-area {
    background-color:grey;
    color:white;
    clear:both;
    text-align:center;
    padding:5px; 
}
