@CHARSET "UTF-8";

body {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: smaller;
}

/* sidebarlist links */
.sidebarlist a {
	color: inherit;
	text-decoration: none;
	display: block;
}

/* mouse over link */
.sidebarlist a:hover {
    color: #473423;
    font-weight: bold;
}

/* active link */
.sidebarlist a:active {
    color: #473423;
    font-weight: bold;
}

/* breadcrumps links */
#breadcrumps a {
	color: inherit;
	text-decoration: none;
	/* display: block; */
}

/* mouse over link */
#breadcrumps a:hover {
    font-weight: bold;
}

/* selected link */
#breadcrumps a:active {
    font-weight: bold;
}

/* breadcrumps */
#breadcrumps p{
	padding-left: 22px;
	font-weight: normal;
	color: #FBF9F3;
}

/* list format of sidebar navigation */ 
.sidebarlist {
	list-style-type: none;
	margin-left: -20px;
	line-height: 2;
}

#content-area #contact-numbers {
	margin-left: -3px
}

.list-article {
	
}

.list-article-price, .list-article-variation{
	font-weight:bold;
	
}

.list-article a:link, .list-article a:visited {
    color: black;   
    cursor: hand;
    text-decoration: none;
}

.list-article a:link:active, .list-article a:visited:active {
    color: #FBF9F3;
}

.article-price{
	font-weight:bold;
}
