@CHARSET "UTF-8";

body {
	height: 100%;
	min-width: 1000px;
	background-color: #FBF9F3;
}

#wrapper {
	/*border: 1px solid black;*/
	margin: 0 auto;
	max-width: 75em;
	min-width: 30em;
}

#main-area {
	display: table;
	width: 100%;
	min-height: 400px;
}

#banner-area, #breadcrumps, #language-selector, #left-area,
	#content-area, #right-area, #footer-area {
	-moz-border-radius: 3px; /* Firefox */
	-webkit-border-radius: 3px; /* Safari, Chrome */
	behavior: url(border-radius.htc); /* IE */
	border-radius: 3px;
	margin-bottom: 2px;
}

#left-area, #right-area {
	box-shadow: 0px 0px 2px #DCD5C5 inset;
}

#breadcrumps-area, #breadcrumps, #language-selector, #footer-area {
	box-shadow: 0px 0px 2px #FBF9F3 inset;
}

/** remove border within the bradcrumps-area */
#breadcrumps {
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}

#language-selector {
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}

#banner-area {
	text-align: center;
	padding: 0px;
}

#breadcrumps-area {
	width: 100%;
	display: table-row;
}

#breadcrumps {
	text-align: left;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #473423;
	color: #fbf9f3;
	width: 100%;
	display: table-cell;
}

#language-selector {
	padding-top: 5px; 
	padding-bottom : 5px;
	background-color: #473423;
	color: #fbf9f3;
	min-width: 190px;
	display: table-cell;
}

#left-area {
	background-color: #F5EEDE;
	color: #755A42;
	line-height: 20px;
	height: inherit;
	min-width: 150px;
	padding: 5px;
	display: table-cell;
}

#right-area {
	min-width: 200px;
	padding: 5px;
	height: inherit;
	background-color: #F5EEDE;
	color: #755A42;
	/**background-color: #AC8B6F;
	color: #473423;*/
	display: table-cell;
}

#content-area {
	padding-left: 10px;
	padding-right: 10px;
	background-color: #FBF9F3;
	margin: 0 auto;
	display: table-cell;
	width: 100%;
}

#user-area {
	min-height: 100px;
}

#news-area {
	min-height: 200px;
}

#footer-area {
	background-color: #473423;
	color: #FBF9F3;
	clear: both;
	text-align: center;
	padding: 5px;
}

hr {
	color: #FBF9F3;
}

.list-article {
	/*border: 1px solid black;*/
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 95%;
	min-height: 120px;
	padding: 10px;
	background-color: #F5EEDE;
	overflow: auto;
}

.list-article img, .article img {
	float: left;
	margin-right: 10px;
	height: 100px;
	width: 100px;
}

.list-article h2 {
	margin-top: 0px;
	margin-left: 10px;
}

.list-article-button {
	float: right;
}

.article {
	/*border: 1px solid black;*/
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 95%;
	min-height: 120px;
	padding: 10px;
	overflow: auto;
}

.article h3 {
	margin-top: 0px;
	margin-left: 10px;
}

.article-button {
	float: right;
}

.address-form-table-label{
	align: left;
}

#searchResult {
	width: auto;
	margin: 5px -5px;
}

#searchResult .article {
	width: 30%;
	float: left;
	margin: 5px;
	border: 1px solid #473423;
	
}

#searchResult .article h2 {
	margin-top: auto;
	margin-bottom: 5px;
}

#searchResult .article img {
	width: 50px;
	height: 50px;
	margin-right: 5px;
}

#searchResult select{
	margin: 5px 0px;
	width: 100%;
}

#searchResult .article-button {
	float: none;
	display: block;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
}

#searchDescription {
	display: none;
}

.basket-table{
	
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 95%;
	padding: 10px;
	
}

.lang-img{
	height:15px;
	width:30px;
	float:left;
	margin-left: 10px;
	margin-right: 10px;
	border: 1px solid #F5EEDE;
}

#language-selector-flag-area{
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 83%;
}

