@CHARSET "UTF-8";

body {
	height: 100%;
	min-width: 1000px;
	background-color: #FBF9F3;
}

#wrapper {
	/*border: 1px solid black;*/
	margin: 0 auto;
	max-width: 75em;
	min-width: 30em;

}

#banner-area, #breadcrumps,
#left-area, #content-area,
#right-area, #footer-area {
	-moz-border-radius: 3px; /* Firefox */
	-webkit-border-radius: 3px; /* Safari, Chrome */
	behavior: url(border-radius.htc); /* IE */
	border-radius: 3px;
	margin-bottom: 2px;
}

#left-area, #right-area {
	box-shadow: 0px 0px 2px #DCD5C5 inset;
}

#breadcrumps, #footer-area {
	box-shadow: 0px 0px 3px #FBF9F3 inset;
}

#banner-area {
	text-align: center;
	padding: 0px;
}

#breadcrumps {
	text-align: left;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #473423;
	color: #fbf9f3;
}

#left-area {
	background-color: #F5EEDE;
	color: #755A42;
	line-height: 20px;
	height: 400px;
	width: 150px;
	float: left;
	padding: 5px;
	border: 1px solid red;
}

#right-area {
	width: 200px;
	float: right;
	padding: 5px;
	min-height: 400px;
	background-color: #F5EEDE;
	color: #755A42;
	border: 1px solid red;
	/**background-color: #AC8B6F;
	color: #473423;*/
}

#content-area {
	min-height: 400px;
	padding-left: 10px;
	background-color: #FBF9F3;
	margin: 0 auto;
	border: 1px solid red;
}

#user-area {
	min-height: 100px;
}

#news-area {
	min-height: 200px;
}

#footer-area {
	background-color: #473423;
	color: #FBF9F3;
	clear: both;
	text-align: center;
	padding: 5px;
}

hr {
	color: #FBF9F3;
}

.list-article {
	/*border: 1px solid black;*/
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 95%;
	min-height: 120px;
	padding: 10px;
	background-color: #F5EEDE;
	overflow:auto;
}

.list-article img {
float: left;

}

.list-article h2 {
	margin-top: 0px;
	margin-left: 10px;
}


.list-article button {
float: right;

}

.article {
	/*border: 1px solid black;*/
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 95%;
	min-height: 120px;
	padding: 10px;
	overflow:auto;
}

.article img {
float: left;

}

.article h3 {
	margin-top: 0px;
	margin-left: 10px;
}


.article button {
float: right;

}