@CHARSET "UTF-8";

body {
	height: 100%;
	background-color: #FBF9F3;
}

#wrapper {
	border: 1px solid black;
	margin: 0 auto;
	max-width: 75em;
	min-width: 30em;

}

#banner-area {
	text-align: center;
	padding: 5px;
}

#breadcrumps {
	text-align: left;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #473423;
	color: white;
}

#left-area {
	background-color: #F5EEDE;
	color: #755A42;
	line-height: 20px;
	height: 400px;
	min-width: 150px;
	float: left;
	padding: 5px;
}

#content-area {
	min-width: 550px;
	min-height: 400px;
	float: left;
	padding-left: 10px;
	background-color: #FBF9F3;
}

#right-area {
	width: 200px;
	float: right;
	padding: 5px;
	min-height: 400px;
	background-color: #F5EEDE;
	color: #755A42;
	/**background-color: #AC8B6F;
	color: #473423;*/
}

#user-area {
	min-height: 100px;
}

#news-area {
	min-height: 200px;
}

#footer-area {
	background-color: #473423;
	color: white;
	clear: both;
	text-align: center;
	padding: 5px;
}